.input-group-text {
  width: 30%;
  text-align: center;
  justify-content: center;
}

.form-switch .form-check-input {
  width: 5em !important;
  height: 2em !important;
}

.form-switch {
  padding-left: 4em !important;
}

.form-range {
  padding-left: 1.5em !important;
}
