.phone-container {
	width: 80%;
	height: 65%;

	.PhoneEnd {
		transform: rotate(225deg);
	}

	.PhoneCalling {
		-moz-transform: scaleX(-1);
		-webkit-transform: scaleX(-1);
		-o-transform: scaleX(-1);
		transform: scaleX(-1);
		-ms-filter: fliph; /*IE*/
		filter: fliph; /*IE*/
		&:before {
			content: "";
			background-color: #14e901;
			animation: pulse-ring 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
		}

		&:after {
			content: "";
			background-color: white;
			box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
			animation: pulse-dot 1.25s cubic-bezier(0.455, 0.03, 0.515, 0.955) -0.4s infinite;
		}
	}	
}

@keyframes pulse-ring {
	0% {
		transform: scale(0.33);
	}
	80%,
	100% {
		opacity: 0;
	}
}

@keyframes pulse-dot {
	0% {
		transform: scale(0.8);
	}
	50% {
		transform: scale(1);
	}
	100% {
		transform: scale(0.8);
	}
}
